 
.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}
.chart-wrapper{
    box-shadow: 10px 10px 5px #888888;
    background-color: #D3D3D3;
    border: 1px black solid;
}
.chart-title{
    background-color: #fff;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.intro_button{
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: red;
    font-weight: bold;
}

 
#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}
 
 
.dc-select-menu {
   background: #33CC99;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
 
}