<!DOCTYPE html>
<html>
<head>
  <title>HR Data Analytics (from Kaggle)</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
       <img src="{{ url_for ('static', filename='img/hr-logo.png')}}" alt="hr logo" height="50px">
        <a class="navbar-brand" href="./">HR Data Dashboard (Source data from Kaggle)</a>
      </div>
      <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
    </div>
  </div>
  <div  id="outer" class="container-fluid">
    <div class="row">
         <!-- Satisfaction Chart -->
          <div class="col-sm-5">
            <div class="chart-wrapper">
              <div class="chart-title">
                Satisfaction by average monthly hours
              </div>
              <div class="chart-stage">
                <div id="satisfaction-line-chart" data-step="1" data-intro="This chart shows job satisfaction levels" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Satisfaction Chart -->
          <!-- Last Evaluation -->
          <div class="col-sm-5">
            <div class="chart-wrapper">
              <div class="chart-title">
                Last Evaluation
              </div>
              <div class="chart-stage">
                <div id="last-evaluation-line-chart" data-step="2" data-intro="This chart shows the staff members last evaluation score" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          <!-- Last Evaluation -->
        </div>
        <div class="row">
          <!-- Project Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Project's per Staff Member
              </div>
              <div class="chart-stage">
                <div id="project-chart" data-step="3" data-intro="This chart shows the number of projects each staff member is currently engaged in" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Project Chart -->
          <!-- Average Monthly Hours -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Monthly Hours
              </div>
              <div class="chart-stage">
                <div id="average-monthly-hours-chart" data-step="4" data-intro="This chart shows the average number of hours" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Average Monthly Hours -->
           <!-- Work Accidents -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Work Accidents per Staff Member
              </div>
              <div class="chart-stage">
                <div id="work-accident-chart" data-step="4" data-intro="This chart shows the number of work accidents per staff member" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Work Accidents -->
        </div>
          <!-- Time with Company -->
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Years with Company
              </div>
              <div class="chart-stage">
                <div id="time-spend-company-chart" data-step="5" data-intro="This chart shows the number of years the staff member has been with the company" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Time with Company -->
         
          <!-- Staff Left -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Staff Resignations
              </div>
              <div class="chart-stage">
                <div id="staff-left-chart" data-step="6" data-intro="This chart shows the number of staff that have left the business" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
          <!-- Staff Left -->
          <!-- Promotions in last 5 years -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Promotions in last 5 year
              </div>
              <div class="chart-stage">
                <div id="promotions-chart" data-step="7" data-intro="This chart shows the number of promotions the staff member has received in the last 5 years" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
           <!-- Promotions in last 5 years -->
           <!-- Promotions in last 5 years -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Salary level
              </div>
              <div class="chart-stage">
                <div id="salary-chart" data-step="7" data-intro="This chart shows the number of promotions the staff member has received in the last 5 years" style="font-weight: normal" data-position="right"></div>
              </div>
            </div>
          </div>
           <!-- Promotions in last 5 years -->
        </div>
      </div>
 
      
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>